v1.7
{
  "name": "22",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1X809TIqGyjmZtxNQ55x1ZkAxmzxEwDDVaB5hyl0NHl0",
          "mode": "list",
          "cachedResultName": "post automático segunda versión (respuestas)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X809TIqGyjmZtxNQ55x1ZkAxmzxEwDDVaB5hyl0NHl0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1574225807,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X809TIqGyjmZtxNQ55x1ZkAxmzxEwDDVaB5hyl0NHl0/edit#gid=1574225807"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        1392
      ],
      "id": "97b17e6a-f2c3-4f7a-8f8c-2e9d8d6c9ee7",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "53x7XCUMnYRwUNOU",
          "name": "Google Sheets Trigger account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4cce5e4c-ab9c-4880-8bef-a167744c4d83",
              "leftValue": "={{ $json.id_imagen }}",
              "rightValue": "TRUE",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        896
      ],
      "id": "d7c62fdf-2e21-4043-9087-11361c688f75",
      "name": "!IMAGEN"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d83193f-f7ff-469f-9374-82d715816f13",
              "leftValue": "={{ $json.plataforma }}",
              "rightValue": "Facebook",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        400,
        2000
      ],
      "id": "a5e8e8cd-0ea6-4753-bb30-cf4b4626b960",
      "name": "facebook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fef0d1b6-f9e7-48d5-a5f2-046bee124615",
              "leftValue": "={{$json.plataforma}}",
              "rightValue": "Instagram (Imagen obligatoria)",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        432,
        896
      ],
      "id": "c1766aa3-33cf-4427-9e5b-aaf4d925be69",
      "name": "instagram"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b44cb316-3abd-4bfb-9a5f-8abcf15ec0ce",
              "leftValue": "={{ $json.plataforma }}",
              "rightValue": "web institucional",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        432,
        1392
      ],
      "id": "e612b282-b08d-4422-8468-2831b294c9c6",
      "name": "web"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Crea un texto para una publicación en Instagram sobre la siguiente actividad académica.lo entregado abajo es lo que debes utilizar para hacer el texto\nTítulo de la actividad:{{ $json['Titulo de la actividad'] }}\nDescripción: {{ $json['Descripción breve de la actividad '] }}\nFecha y lugar: {{ $json['Fecha(mm/dd/yyyy)'] }}{{ $json['Ubicación'] }}\nOrganiza: {{ $json['Carrera responsable '] }}\nMás información: {{ $json['Enlaces opcionales 1.'] }}{{ $json['Enlaces opcionales 2.'] }}{{ $json['Enlaces opcionales 3.'] }}\n(En caso de no adjuntar links no agregar seccion mas informacion)",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        992,
        640
      ],
      "id": "eb81a228-813c-4f92-b0f9-76d22e961531",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "groq/compound-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        992,
        816
      ],
      "id": "15b0480f-1a49-4c56-8b9f-c1170baf2457",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "QYBuuNa085JNeNlw",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Genera un texto claro y objetivo para una publicación en Facebook que informe sobre una actividad académica o información institucional. El texto debe evitar lenguaje persuasivo o invitaciones, y centrarse en comunicar los hechos de forma simple y directa.\n\nUtiliza los siguientes datos sin usar encabezados como \"Título\", \"Descripción\", etc., y no agregues secciones adicionales:\n\nTítulo de la actividad:{{ $json['Titulo de la actividad'] }}\nDescripción: {{ $json['Descripción breve de la actividad '] }}\nFecha y lugar: {{ $json['Fecha(mm/dd/yyyy)'] }}{{ $json['Ubicación'] }}\nOrganiza: {{ $json['Carrera responsable '] }}\nMás información: {{ $json['Enlaces opcionales 1.'] }}{{ $json['Enlaces opcionales 2.'] }}{{ $json['Enlaces opcionales 3.'] }}\n\nSi no hay enlaces, no agregues la sección de más información.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1008,
        1840
      ],
      "id": "1e8ad792-e0ba-4e03-8a34-62bf3deb9ed3",
      "name": "AI Agent4"
    },
    {
      "parameters": {
        "model": "groq/compound-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1008,
        2000
      ],
      "id": "3cda8819-e096-467c-a8e5-cf8b6564345a",
      "name": "Groq Chat Model3",
      "credentials": {
        "groqApi": {
          "id": "QYBuuNa085JNeNlw",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('!IMAGEN4').item.json.id_imagen }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1312,
        1840
      ],
      "id": "5bdecfeb-4592-4137-9a88-da6e1279afa3",
      "name": "descarga de imagen",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iSsJZh9wgiFw0ZRw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('!IMAGEN').item.json.id_imagen }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1328,
        640
      ],
      "id": "38bd7ffa-c1e8-4bdc-a6d5-63a529956b0f",
      "name": "descarga de imagen1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iSsJZh9wgiFw0ZRw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Crea un texto para una publicación en una pagina web academica sobre la siguiente actividad académica.lo entregado abajo es lo que debes utilizar para hacer el texto\nTítulo de la actividad:{{ $json['Titulo de la actividad'] }}\nDescripción: {{ $json['Descripción breve de la actividad '] }}\nFecha y lugar: {{ $json['Fecha(mm/dd/yyyy)'] }}{{ $json['Ubicación'] }}\nOrganiza: {{ $json['Carrera responsable '] }}\nMás información: {{ $json['Enlaces opcionales 1.'] }}{{ $json['Enlaces opcionales 2.'] }}{{ $json['Enlaces opcionales 3.'] }}\n(En caso de no adjuntar links no agregar seccion mas informacion)",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1024,
        1184
      ],
      "id": "96c98279-cdf3-4e09-bde4-6a22087bb955",
      "name": "AI Agent5"
    },
    {
      "parameters": {
        "model": "groq/compound-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1024,
        1344
      ],
      "id": "960bb6d4-cccc-488f-8427-a3b467a79391",
      "name": "Groq Chat Model4",
      "credentials": {
        "groqApi": {
          "id": "QYBuuNa085JNeNlw",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4cce5e4c-ab9c-4880-8bef-a167744c4d83",
              "leftValue": "={{ $json.id_imagen }}",
              "rightValue": "TRUE",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        1392
      ],
      "id": "c4742973-b7b2-45df-abaf-c2efee43be55",
      "name": "!IMAGEN3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4cce5e4c-ab9c-4880-8bef-a167744c4d83",
              "leftValue": "={{ $json.id_imagen }}",
              "rightValue": "TRUE",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        736,
        2000
      ],
      "id": "5e9695ca-7220-4141-aacf-c84dfc44da65",
      "name": "!IMAGEN4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Crea un texto para una publicación en Facebook sobre la siguiente actividad académica. lo entregado abajo es lo que debes utilizar para hacer el texto\nTítulo de la actividad: {{ $('Google Sheets Trigger').item.json['Titulo de la actividad'] }}\nDescripción: {{ $('Google Sheets Trigger').item.json['Descripción breve de la actividad '] }}\nFecha y lugar: {{ $('Google Sheets Trigger').item.json['Fecha(mm/dd/yyyy)'] }}{{ $('Google Sheets Trigger').item.json['Ubicación'] }}\nOrganiza: {{ $('Google Sheets Trigger').item.json['Carrera responsable '] }}\nMás información: {{ $('Google Sheets Trigger').item.json['Enlaces opcionales 1.'] }}{{ $('Google Sheets Trigger').item.json['Enlaces opcionales 2.'] }}{{ $('Google Sheets Trigger').item.json['Enlaces opcionales 3.'] }}\n(En caso de no adjuntar links no agregar seccion mas informacion)",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1008,
        2208
      ],
      "id": "a601491e-a128-4cd2-9cc1-64fbb25def7a",
      "name": "AI Agent6"
    },
    {
      "parameters": {
        "model": "groq/compound-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1008,
        2368
      ],
      "id": "fc0e0ea6-ebc0-4fc4-a2ac-725fc10e66b8",
      "name": "Groq Chat Model5",
      "credentials": {
        "groqApi": {
          "id": "QYBuuNa085JNeNlw",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Crea un texto para una publicación en una pagina web academica sobre la siguiente actividad académica.lo entregado abajo es lo que debes utilizar para hacer el texto\nTítulo de la actividad:{{ $json['Titulo de la actividad'] }}\nDescripción: {{ $json['Descripción breve de la actividad '] }}\nFecha y lugar: {{ $json['Fecha(mm/dd/yyyy)'] }}{{ $json['Ubicación'] }}\nOrganiza: {{ $json['Carrera responsable '] }}\nMás información: {{ $json['Enlaces opcionales 1.'] }}{{ $json['Enlaces opcionales 2.'] }}{{ $json['Enlaces opcionales 3.'] }}\n(En caso de no adjuntar links no agregar seccion mas informacion)",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1008,
        1488
      ],
      "id": "ab84d63f-3e27-41a1-b056-5e01c85d22d5",
      "name": "AI Agent7"
    },
    {
      "parameters": {
        "model": "groq/compound-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1008,
        1648
      ],
      "id": "bb7b6c6b-ed3e-45fa-abac-572c7030bd89",
      "name": "Groq Chat Model6",
      "credentials": {
        "groqApi": {
          "id": "QYBuuNa085JNeNlw",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "/783729494834060/photos",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "caption",
                "value": "={{ $('AI Agent4').item.json.output }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1536,
        1840
      ],
      "id": "1845f7c7-ebfc-40d5-8adc-d654b4e20c3c",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "HRcWxPIAPNhTpiJv",
          "name": "Facebook Graph account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": " 17841477439934776",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.secure_url }}"
              },
              {
                "name": "caption",
                "value": "={{ $('AI Agent').item.json.output }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1808,
        640
      ],
      "id": "cd1b71c1-a6b5-4761-a71e-036f26c67ace",
      "name": "insta",
      "credentials": {
        "facebookGraphApi": {
          "id": "8VERv1ZczhD7oCao",
          "name": "instagram"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": " 17841477439934776",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2064,
        640
      ],
      "id": "7966c9bd-e9a6-4c9c-ac01-1e025b44a49e",
      "name": "instagram publicar",
      "credentials": {
        "facebookGraphApi": {
          "id": "8VERv1ZczhD7oCao",
          "name": "instagram"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "uploadFile",
        "additionalFieldsFile": {}
      },
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        1568,
        640
      ],
      "id": "eb597aa0-d4cf-4af7-8360-de0710728aa2",
      "name": "Upload an asset from file data",
      "credentials": {
        "cloudinaryApi": {
          "id": "Vj0zHclC5qlKBJfH",
          "name": "Cloudinary account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtén todos los items del trigger (todas las filas)\nconst allRows = $input.all();\n// La última fila suele ser la última del array\nconst lastRow = allRows[allRows.length - 1];\n\n// Si necesitas dividir plataformas, sigue con la misma lógica:\nconst opciones = lastRow.json['Donde quiere subir(Hasta 3 opciones)'] || \"\";\nconst plataformas = opciones.split(\",\").map(e => e.trim()).filter(e => e);\n\n// Extrae el ID de Drive\nconst url = lastRow.json['Imagen para publicar'] || \"\";\nconst match = url.match(/[?&]id=([a-zA-Z0-9_-]+)/);\nconst id = match ? match[1] : null;\n\nconst resultados = [];\nfor (const p of plataformas) {\n  resultados.push({\n    plataforma: p,\n    id_imagen: id,\n    ...lastRow.json\n  });\n}\nreturn resultados;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        1392
      ],
      "id": "fb4f076e-2fd1-4c3c-a438-6777c71a0b80",
      "name": "id, filtro y ultimo"
    },
    {
      "parameters": {
        "title": "{{ $json.output }}",
        "additionalFields": {
          "content": "={{ $('AI Agent5').item.json.output }}",
          "status": "publish"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1696,
        1184
      ],
      "id": "679b7d16-3503-4377-af7f-baeaba4ad060",
      "name": "Create a post",
      "credentials": {
        "wordpressApi": {
          "id": "sXTVZrnSKdFvQ5ZD",
          "name": "Wordpress account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "title": "={{ $json.output }}",
        "additionalFields": {
          "content": "={{ $('AI Agent7').item.json.output }}",
          "status": "publish"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1664,
        1488
      ],
      "id": "ff8a01a0-1a35-4636-aa24-1444c27ad712",
      "name": "Create a post1",
      "credentials": {
        "wordpressApi": {
          "id": "sXTVZrnSKdFvQ5ZD",
          "name": "Wordpress account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "groq/compound-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1360,
        1344
      ],
      "id": "be91cd8f-7791-4396-9d7a-92362bd07019",
      "name": "Groq Chat Model7",
      "credentials": {
        "groqApi": {
          "id": "QYBuuNa085JNeNlw",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=crea un titulo para esta publicacion para una red universitaria segun este contenido : {{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1360,
        1184
      ],
      "id": "21b432cb-49ff-4308-b425-f62a4f5be2ae",
      "name": "titulo"
    },
    {
      "parameters": {
        "model": "groq/compound-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1344,
        1632
      ],
      "id": "57da0d80-fbbe-48bd-811d-43793db84dc6",
      "name": "Groq Chat Model8",
      "credentials": {
        "groqApi": {
          "id": "QYBuuNa085JNeNlw",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=crea un titulo para esta publicacion para una red universitaria segun este contenido :{{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1328,
        1488
      ],
      "id": "74b4e6f3-6f9b-4aed-afb2-a133ccd5b6f9",
      "name": "titulo1"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "/783729494834060",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $('AI Agent6').item.json.output }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1488,
        2208
      ],
      "id": "a546ea20-b4fc-4ddd-9142-5f0f5350bf42",
      "name": "Facebook NO imagen",
      "credentials": {
        "facebookGraphApi": {
          "id": "HRcWxPIAPNhTpiJv",
          "name": "Facebook Graph account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('!IMAGEN3').item.json.id_imagen }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1952,
        1184
      ],
      "id": "0ccc9f26-8b97-45a2-bc69-88e8540b31a2",
      "name": "descarga de imagen2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iSsJZh9wgiFw0ZRw",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8082/wp-json/wp/v2/posts/{{ $('Create a post').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2448,
        1184
      ],
      "id": "65fbdf77-18ba-4614-a20a-cf1b43e9815d",
      "name": "HTTP Request3",
      "credentials": {
        "wordpressApi": {
          "id": "sXTVZrnSKdFvQ5ZD",
          "name": "Wordpress account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8082/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename= {{ $binary.data.fileName }}.{{ $binary.data.fileExtension }}"
            },
            {
              "name": "Content-Type",
              "value": "={{ $binary.data.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        1184
      ],
      "id": "b48b6ff4-45c4-4ce3-8c47-7dbc5ced5d4e",
      "name": "subir imagen",
      "credentials": {
        "wordpressApi": {
          "id": "sXTVZrnSKdFvQ5ZD",
          "name": "Wordpress account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "uploadFile",
        "additionalFieldsFile": {}
      },
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "223a9f16-dfdf-4848-ba61-a6e68ea5db61",
      "name": "Upload an asset from file data1",
      "credentials": {
        "cloudinaryApi": {
          "id": "Vj0zHclC5qlKBJfH",
          "name": "Cloudinary account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.secure_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "cloudinaryApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "id": "f09b6e18-9fe8-4a3b-bd59-052bf0704732",
      "name": "HTTP Request",
      "credentials": {
        "cloudinaryApi": {
          "id": "Vj0zHclC5qlKBJfH",
          "name": "Cloudinary account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8082/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        0
      ],
      "id": "86383f44-559a-41bb-ac70-43dd33391c0c",
      "name": "HTTP Request2",
      "credentials": {
        "wordpressApi": {
          "id": "sXTVZrnSKdFvQ5ZD",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8082/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename= {{ $binary.data.fileName }}.{{ $binary.data.fileExtension }}"
            },
            {
              "name": "Content-Type",
              "value": "={{ $binary.data.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        224
      ],
      "id": "73e82162-8cf9-426b-a043-883592ead8c0",
      "name": "HTTP Request4",
      "credentials": {
        "wordpressApi": {
          "id": "sXTVZrnSKdFvQ5ZD",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "from": "practica1.unab2025@gmail.com",
        "to": "dhylan.lucas@gmail.com",
        "subject": "prueba 2",
        "html": "probando",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-resend.resend",
      "typeVersion": 1,
      "position": [
        -624,
        144
      ],
      "id": "45aa693d-e5f5-449a-8ad3-023d6da50376",
      "name": "Send an email",
      "credentials": {
        "resendApi": {
          "id": "FYKpR9CqOIIuTaqS",
          "name": "resend"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -832,
        176
      ],
      "id": "f7d886bf-973b-4b1d-b447-8b4fd70c7ce1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PlqxpmC9p-pTa7ig0enxrjbEzB3m8qN_rTf3Sqz8oRg",
          "mode": "list",
          "cachedResultName": "publicaciones exitosas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PlqxpmC9p-pTa7ig0enxrjbEzB3m8qN_rTf3Sqz8oRg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "intagram",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PlqxpmC9p-pTa7ig0enxrjbEzB3m8qN_rTf3Sqz8oRg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Titulo de la actividad ": "={{ $('instagram').item.json.plataforma }}",
            "Fecha de publicacion ": "={{ $('instagram').item.json['Marca temporal'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Titulo de la actividad ",
              "displayName": "Titulo de la actividad ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha de publicacion ",
              "displayName": "Fecha de publicacion ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correo responsable",
              "displayName": "correo responsable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3056,
        720
      ],
      "id": "d09e92f7-9846-4fdd-be4b-3d0149d10024",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uJFK2T0SHbebJYGM",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4380c5d3-479e-4cf6-aad0-ff023619fc71",
              "leftValue": "={{ $('instagram').item.json.id_imagen }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "54eb06ce-458f-441f-be95-864058121a50",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2416,
        624
      ],
      "id": "eb2cf65e-92ce-4001-bc35-03ce301e3d65",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4380c5d3-479e-4cf6-aad0-ff023619fc71",
              "leftValue": "={{ $('web').item.json.plataforma }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "c73f91fe-6ff4-4348-ad40-8abfb55ef3ca",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2736,
        1184
      ],
      "id": "6406718f-0118-4d78-a35c-ac5c7d095c42",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4380c5d3-479e-4cf6-aad0-ff023619fc71",
              "leftValue": "={{ $('web').item.json.plataforma }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "8c93113c-c293-4bdb-9990-67bd55bfa6ee",
              "leftValue": "={{ $json.code }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2080,
        1472
      ],
      "id": "1dd74f03-1d52-48e0-9e3a-b4a1b5408968",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4380c5d3-479e-4cf6-aad0-ff023619fc71",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "1b9804a6-d12e-4117-be5e-1a5dcfa35bec",
              "leftValue": "={{ $json.code }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1968,
        2176
      ],
      "id": "36d7a34c-2a7b-4767-8bec-c52053f0dade",
      "name": "If4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4380c5d3-479e-4cf6-aad0-ff023619fc71",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "9fd3a445-1b09-4a05-934b-ec7b9f9c0582",
              "leftValue": "={{ $json.code }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2080,
        1792
      ],
      "id": "91efc251-d4a3-4b32-b642-120559a45aa0",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PlqxpmC9p-pTa7ig0enxrjbEzB3m8qN_rTf3Sqz8oRg",
          "mode": "list",
          "cachedResultName": "publicaciones exitosas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PlqxpmC9p-pTa7ig0enxrjbEzB3m8qN_rTf3Sqz8oRg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1665483363,
          "mode": "list",
          "cachedResultName": "facebook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PlqxpmC9p-pTa7ig0enxrjbEzB3m8qN_rTf3Sqz8oRg/edit#gid=1665483363"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Titulo de la actividad ": "={{ $('id, filtro y ultimo').item.json.plataforma }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Titulo de la actividad ",
              "displayName": "Titulo de la actividad ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha de publicacion ",
              "displayName": "Fecha de publicacion ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correo responsable",
              "displayName": "correo responsable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3136,
        1200
      ],
      "id": "6782a301-b1b9-4fce-90b0-4a5d9ab9b1e4",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uJFK2T0SHbebJYGM",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PlqxpmC9p-pTa7ig0enxrjbEzB3m8qN_rTf3Sqz8oRg",
          "mode": "list",
          "cachedResultName": "publicaciones exitosas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PlqxpmC9p-pTa7ig0enxrjbEzB3m8qN_rTf3Sqz8oRg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1452103368,
          "mode": "list",
          "cachedResultName": "web ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PlqxpmC9p-pTa7ig0enxrjbEzB3m8qN_rTf3Sqz8oRg/edit#gid=1452103368"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Titulo de la actividad ": "={{ $('id, filtro y ultimo').item.json.plataforma }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Titulo de la actividad ",
              "displayName": "Titulo de la actividad ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha de publicacion ",
              "displayName": "Fecha de publicacion ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correo responsable",
              "displayName": "correo responsable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2784,
        1952
      ],
      "id": "1099c017-59b2-48bf-b91d-9397750a8b83",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uJFK2T0SHbebJYGM",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "Upload an asset from file data1": [
      {
        "json": {
          "asset_id": "48db07b91a877d75c4089f6e4c102f74",
          "public_id": "wlzcivmhz3gwfra1zut3",
          "version": 1762876921,
          "version_id": "f03123e4e16aa96b552b381b55953e4a",
          "signature": "89ca63be9d6548eef843a65f51dabb58f8e30f0d",
          "width": 557,
          "height": 359,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-11-11T16:02:01Z",
          "tags": [],
          "bytes": 27954,
          "type": "upload",
          "etag": "1fdb5850c716b6c96ff261ada72b15f8",
          "placeholder": false,
          "url": "http://res.cloudinary.com/dcsfxymol/image/upload/v1762876921/wlzcivmhz3gwfra1zut3.jpg",
          "secure_url": "https://res.cloudinary.com/dcsfxymol/image/upload/v1762876921/wlzcivmhz3gwfra1zut3.jpg",
          "asset_folder": "",
          "display_name": "wlzcivmhz3gwfra1zut3",
          "original_filename": "IMG_7695 - Dhylan Pizarro",
          "original_extension": "jpeg",
          "api_key": "234694392885281"
        }
      }
    ],
    "HTTP Request4": [
      {
        "json": {
          "id": 20,
          "date": "2025-11-11T13:03:00",
          "date_gmt": "2025-11-11T16:03:00",
          "guid": {
            "rendered": "http://localhost:8082/wp-content/uploads/2025/11/IMG_7695-Dhylan-Pizarro-3.jpeg-3.jpeg",
            "raw": "http://localhost:8082/wp-content/uploads/2025/11/IMG_7695-Dhylan-Pizarro-3.jpeg-3.jpeg"
          },
          "modified": "2025-11-11T13:03:00",
          "modified_gmt": "2025-11-11T16:03:00",
          "slug": "img_7695-dhylan-pizarro-3-jpeg-3",
          "status": "inherit",
          "type": "attachment",
          "link": "http://localhost:8082/img_7695-dhylan-pizarro-3-jpeg-3/",
          "title": {
            "raw": "IMG_7695-Dhylan-Pizarro-3.jpeg-3",
            "rendered": "IMG_7695-Dhylan-Pizarro-3.jpeg-3"
          },
          "author": 1,
          "featured_media": 0,
          "comment_status": "open",
          "ping_status": "closed",
          "template": "",
          "meta": [],
          "permalink_template": "http://localhost:8082/?attachment_id=20",
          "generated_slug": "img_7695-dhylan-pizarro-3-jpeg-3",
          "class_list": [
            "post-20",
            "attachment",
            "type-attachment",
            "status-inherit",
            "hentry"
          ],
          "description": {
            "raw": "",
            "rendered": "<p class=\"attachment\"><a href='http://localhost:8082/wp-content/uploads/2025/11/IMG_7695-Dhylan-Pizarro-3.jpeg-3.jpeg'><img loading=\"lazy\" decoding=\"async\" width=\"300\" height=\"193\" src=\"http://localhost:8082/wp-content/uploads/2025/11/IMG_7695-Dhylan-Pizarro-3.jpeg-3-300x193.jpeg\" class=\"attachment-medium size-medium\" alt=\"\" srcset=\"http://localhost:8082/wp-content/uploads/2025/11/IMG_7695-Dhylan-Pizarro-3.jpeg-3-300x193.jpeg 300w, http://localhost:8082/wp-content/uploads/2025/11/IMG_7695-Dhylan-Pizarro-3.jpeg-3.jpeg 557w\" sizes=\"auto, (max-width: 300px) 100vw, 300px\" /></a></p>\n"
          },
          "caption": {
            "raw": "",
            "rendered": ""
          },
          "alt_text": "",
          "media_type": "image",
          "mime_type": "image/jpeg",
          "media_details": {
            "width": 557,
            "height": 359,
            "file": "2025/11/IMG_7695-Dhylan-Pizarro-3.jpeg-3.jpeg",
            "filesize": 27954,
            "sizes": {
              "medium": {
                "file": "IMG_7695-Dhylan-Pizarro-3.jpeg-3-300x193.jpeg",
                "width": 300,
                "height": 193,
                "filesize": 19457,
                "mime_type": "image/jpeg",
                "source_url": "http://localhost:8082/wp-content/uploads/2025/11/IMG_7695-Dhylan-Pizarro-3.jpeg-3-300x193.jpeg"
              },
              "thumbnail": {
                "file": "IMG_7695-Dhylan-Pizarro-3.jpeg-3-150x150.jpeg",
                "width": 150,
                "height": 150,
                "filesize": 13877,
                "mime_type": "image/jpeg",
                "source_url": "http://localhost:8082/wp-content/uploads/2025/11/IMG_7695-Dhylan-Pizarro-3.jpeg-3-150x150.jpeg"
              },
              "full": {
                "file": "IMG_7695-Dhylan-Pizarro-3.jpeg-3.jpeg",
                "width": 557,
                "height": 359,
                "mime_type": "image/jpeg",
                "source_url": "http://localhost:8082/wp-content/uploads/2025/11/IMG_7695-Dhylan-Pizarro-3.jpeg-3.jpeg"
              }
            },
            "image_meta": {
              "aperture": "0",
              "credit": "",
              "camera": "",
              "caption": "",
              "created_timestamp": "0",
              "copyright": "",
              "focal_length": "0",
              "iso": "0",
              "shutter_speed": "0",
              "title": "",
              "orientation": "0",
              "keywords": []
            }
          },
          "post": null,
          "source_url": "http://localhost:8082/wp-content/uploads/2025/11/IMG_7695-Dhylan-Pizarro-3.jpeg-3.jpeg",
          "missing_image_sizes": [],
          "_links": {
            "self": [
              {
                "href": "http://localhost:8082/wp-json/wp/v2/media/20",
                "targetHints": {
                  "allow": [
                    "GET",
                    "POST",
                    "PUT",
                    "PATCH",
                    "DELETE"
                  ]
                }
              }
            ],
            "collection": [
              {
                "href": "http://localhost:8082/wp-json/wp/v2/media"
              }
            ],
            "about": [
              {
                "href": "http://localhost:8082/wp-json/wp/v2/types/attachment"
              }
            ],
            "author": [
              {
                "embeddable": true,
                "href": "http://localhost:8082/wp-json/wp/v2/users/1"
              }
            ],
            "replies": [
              {
                "embeddable": true,
                "href": "http://localhost:8082/wp-json/wp/v2/comments?post=20"
              }
            ],
            "wp:action-unfiltered-html": [
              {
                "href": "http://localhost:8082/wp-json/wp/v2/media/20"
              }
            ],
            "wp:action-assign-author": [
              {
                "href": "http://localhost:8082/wp-json/wp/v2/media/20"
              }
            ],
            "curies": [
              {
                "name": "wp",
                "href": "https://api.w.org/{rel}",
                "templated": true
              }
            ]
          }
        }
      }
    ],
    "instagram publicar": [
      {
        "json": {
          "id": "17878829535424869"
        }
      }
    ],
    "Facebook Graph API": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      },
      {
        "json": {
          "name": "Second item",
          "code": 2
        }
      }
    ],
    "Facebook NO imagen": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      },
      {
        "json": {
          "name": "Second item",
          "code": 2
        }
      }
    ]
  },
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "id, filtro y ultimo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "!IMAGEN": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instagram": {
      "main": [
        [
          {
            "node": "!IMAGEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "web": {
      "main": [
        [
          {
            "node": "!IMAGEN3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "facebook": {
      "main": [
        [
          {
            "node": "!IMAGEN4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "descarga de imagen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "descarga de imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "descarga de imagen1": {
      "main": [
        [
          {
            "node": "Upload an asset from file data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "!IMAGEN3": {
      "main": [
        [
          {
            "node": "AI Agent5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent5": {
      "main": [
        [
          {
            "node": "titulo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "!IMAGEN4": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent6": {
      "main": [
        [
          {
            "node": "Facebook NO imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent6",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent7",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "descarga de imagen": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insta": {
      "main": [
        [
          {
            "node": "instagram publicar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "instagram publicar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload an asset from file data": {
      "main": [
        [
          {
            "node": "insta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id, filtro y ultimo": {
      "main": [
        [
          {
            "node": "web",
            "type": "main",
            "index": 0
          },
          {
            "node": "instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instagram publicar": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent7": {
      "main": [
        [
          {
            "node": "titulo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "titulo",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "titulo1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "titulo1": {
      "main": [
        [
          {
            "node": "Create a post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "titulo": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "descarga de imagen2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "descarga de imagen2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "descarga de imagen2": {
      "main": [
        [
          {
            "node": "subir imagen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "subir imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "subir imagen": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload an asset from file data1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Send an email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook NO imagen": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "55341b61-cf0b-4691-8ccf-75ea171dc505",
  "meta": {
    "instanceId": "a09f49ffe4461ad01735c6e4f8118f89c0504a1581066e20f0f29f2851d0d652"
  },
  "id": "Qw5WY2EMGFh23Kkm",
  "tags": []
}
